
{% extends 'banco/base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<h2>Crear Cuenta</h2>
<form method="post">
    {% csrf_token %}
    <label for="username">Usuario:</label>
    <input type="text" name="username" required>
    <label for="password1">Contraseña:</label>
    <input type="password" name="password1" required>
    <label for="password2">Confirmar Contraseña:</label>
    <input type="password" name="password2" required>
    <button type="submit">Registrarse</button>
</form>
{% endblock %}
